---
// Destructure the properties from Astro.props
const { title, url } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
}
// Define CSS classes for the hyperlink button
const baseClasses =
  "inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-center text-sm font-medium text-white shadow-sm outline-none ring-zinc-500 focus-visible:ring transition duration-300";
const bgColorClasses = "bg-secondary-normal hover:bg-secondary-accent";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "ring-zinc-500";
---

<!-- Styled hyperlink -->
<a
  class={`${baseClasses} ${bgColorClasses}  ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
  href={url}
>
  {title}
</a>
